/* General page settings */
body {
    background-color: #fdf1d7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    direction: rtl;
}

/* Header styling using Flex */
header {
    display: flex;
    flex-direction: column;    /* Stack items vertically */
    align-items: center;       /* Center items horizontally */
    text-align: center;        /* Centers the text lines themselves */
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px solid #ba782e;
    margin-bottom: 25px;

    /* Limit the width so it doesn't span the whole screen */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Styling the greeting text inside the header */
header h1 {
    font-size: 2.5em;
    margin: 0;           /* Removes default spacing around the heading */
    color: #333;
}

#dateTimeDisplay {
    font-size: 1.4em;
    color: #ca8126;
    font-weight: bold;
    margin-top: 5px;
}

/* Logo - centered with Flex */
#logo-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo-section img {
    height: 200px;
    border-radius: 85%;
    border: 4px solid #ba782e;
    transition: 0.4s; /* Smooth hover effect */
}

/* took from https://prismic.io/blog/css-hover-effects */
#logo-section img:hover {
    transform: scale(1.1); /* Modern touch - zoom on hover */
}

/* Dashboard cards container */
#dashboard-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* Individual card styling */
.card {
    background-color: white;
    border: 1px solid #ba782e;
    border-radius: 15px;
    padding: 20px;

    /* For responsive page*/
    flex-grow: 1;
    min-width: 280px;
    max-width: 480px;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Text in box color */
.card h2 {
    color: #ca8126;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ca8126;
    color: white;
    /* To remove underline */
    text-decoration: none;
    border-radius: 10px;
}

.card a:hover {
    background-color: #5a95e1;
}

/* Histogram placeholder */
#stats-section {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ca8126;
    text-align: center;
    max-width: 800px;
    /* Centers the section */
    margin: 0 auto;
}

#histogramContainer {
    height: 150px;
    background-color: #f9f9f9;
    border: 1px dashed #ba782e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}