/* General body styling */
body {
    background-color: #efeadc;
    font-family: Arial, sans-serif;
    margin: 0;
    /* Default padding for desktop */
    padding: 100px;
}

/* Container for login form */
.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    /* Fixed width for desktop */
    width: 400px;
    /* Centering the div on the page */
    margin: auto;
    border: 2px solid #ba782e;
}

/* Styling the inputs */
.form-group input {
    /* Taking most of the container width */
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ba782e;
    border-radius: 5px;
}

/* Button styling */
button {
    background-color: #f1792a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #5a95e1;
}

/* Error message default state */
#errorMsg {
    color: red;
    display: none;
    font-weight: bold;
    margin-top: 15px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    /* Adjusting body padding for small screens */
    body {
        padding: 40px;
    }

    /* Making the container fluid on mobile */
    .login-container {
        /* Using percentage for width as seen in slides */
        width: 90%;
        padding: 20px;
    }
}